h2 {
border-bottom:0px !important;
}




/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Typography
3.0 Elements
4.0 Forms
5.0 Overall Site Structure
  5.1 Header
6.0 Navigation
  6.1 Links
  6.2 Menus
7.0 Content
  7.1 Posts and pages
8.0 Widgets
11.0 Clearings
14 Media Queries
  14.1 Phone-sized devices
  14.2 Tablets and up
  14.3 Desktops and big things

--------------------------------------------------------------*/


/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0 !important;
    font-family: inherit !important;
    font-size: 100% !important;
    font-style: inherit !important;
    font-weight: inherit !important;
    margin: 0 !important;
    outline: 0 !important;
    padding: 0 !important;
    vertical-align: baseline !important;
}

html {
    /* Apply a natural box layout model to the document; see
    http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
    box-sizing: border-box !important;
    /* Corrects text resizing oddly in IE6/7 when body font-size is set
    using em units http://clagnut.com/blog/348/#c790 */
    font-size: 62.5% !important;
    /* Keeps page centered in all browsers regardless of content height */
    overflow-y: scroll !important;

    /* Prevents iOS text size adjust after orientation change, without
    disabling user zoom
    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
    -webkit-text-size-adjust: 100% !important;
    -ms-text-size-adjust: 100% !important;
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for
    components that leverage other behavior; see
    http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit !important;
}

body {
    /* Fallback for when there is no custom background color defined. */
    background: #fff !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block !important;
}

ol,
ul {
    list-style: none !important;
}

table {
    /* tables still need 'cellspacing="0"' in the markup */
    border-collapse: separate !important;
    border-spacing: 0 !important;
}

caption,
th,
td {
    font-weight: normal !important;
    text-align: left !important;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "" !important;
}

blockquote,
q {
    quotes: "" "" !important;
}

a:focus {
    outline: thin dotted !important;
}

a:hover,
a:active {
    outline: 0 !important;
}

a img {
    border: 0 !important;
}


/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
    color: #363431 !important;
    font-family: "Libre Baskerville", Baskerville, "Book Antiqua", Georgia, Times, serif !important;
    font-size: 17px !important;
    font-size: 1.7rem !important;
    line-height: 2 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both !important;
    line-height: 1.6 !important;
}

h1 {
    color: #a09a92 !important;
    font-family: "Playfair Display", Georgia, serif !important;
    font-size: 44px !important;
    font-size: 4.4rem !important;
    font-style: italic !important;
    margin: 1em 0 0.5em !important;
}

h2 {
    border-bottom: 1px solid #787065 !important;
    color: #787065 !important;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 21px !important;
    font-size: 2.1rem !important;
    letter-spacing: 2px !important;
    margin: 3em 0 1.5em !important;
    padding-bottom: 0.5em !important;
    text-transform: uppercase !important;
}

h3 {
    color: #a09a92 !important;
    font-size: 25px !important;
    font-size: 2.5rem !important;
    font-style: italic !important;
    margin: 2em 0 1em !important;
}

h4 {
    color: #787065 !important;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 16px !important;
    font-size: 1.6rem !important;
    letter-spacing: 1px !important;
    margin: 3em 0 1.5em !important;
    text-transform: uppercase !important;
}

h5 {
    color: #a09a92 !important;
    font-size: 21px !important;
    font-size: 2.1rem !important;
    font-style: italic !important;
    margin: 1.5em 0 0.75em !important;
}

h6 {
    color: #787065 !important;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 14px !important;
    font-size: 1.4rem !important;
    letter-spacing: 1px !important;
    margin: 1.5em 0 0.75em !important;
    text-transform: uppercase !important;
}

p {
    margin-bottom: 1.5em !important;
}

b,
strong {
    font-weight: bold !important;
}

dfn,
cite,
em,
i {
    font-style: italic !important;
}

blockquote {
    color: #706a62 !important;
    font-family: "Playfair Display", Georgia, serif !important;
    /* font-size: 28px; */
    font-size: 1.05em !important;
    /* font-style: italic; */
    line-height: 1.4 !important;
    /* position: relative; */
    /* z-index: 10000; */
    /* border-left: 5px solid #712012; */
    border-left: 5px solid #a09a92 !important;
    padding:10px 20px !important;
    margin:0 0 20px !important;
}

blockquote::before {
    color: #ebe7e1 !important;
    content: "\201C" !important;
    display: block !important;
    font-size: 208px !important;
    font-size: 20.8rem !important;
    font-style: normal !important;
    left: -35px !important;
    line-height: 1 !important;
    position: absolute !important;
    top: -40px !important;
    z-index: -1 !important;
}

blockquote cite {
    color: #787065 !important;
    float: right !important;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 16px !important;
    font-size: 1.6rem !important;
    font-style: normal !important;
    letter-spacing: 1px !important;
    margin-top: 1em !important;
    text-transform: uppercase !important;
}

blockquote cite::before {
    content: "\2013" !important;
    display: inline !important;
}

blockquote.alignleft,
blockquote.alignright {
    background: #fff !important;
    border-bottom: 1px solid #ebe7e1 !important;
    border-top: 2px solid #a09a92 !important;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.025) !important;
    font-size: 27px !important;
    font-size: 2.7rem !important;
    max-width: 75% !important;
    padding: 0.5em !important;
}

blockquote.alignleft p:last-of-type,
blockquote.alignright p:last-of-type {
    margin-bottom: 0 !important;
}

blockquote.alignleft::before,
blockquote.alignright::before {
    display: none !important;
}

address {
    margin: 0 0 1.5em !important;
}

pre {
    background: #d9d6d0 !important;
    font-family: "Droid Sans Mono", "Andale Mono", Consolas, "DejaVu Sans Mono", monospace !important;
    font-size: 16px !important;
    font-size: 1.6rem !important;
    line-height: 1.6 !important;
    margin-bottom: 1.6em !important;
    max-width: 100% !important;
    padding: 1.6em !important;
    white-space: pre !important;
    /* white-space: pre-wrap; */
    overflow:scroll !important;
}

code,
kbd,
tt,
var {
    font-family: "Droid Sans Mono", "Andale Mono", Consolas, "DejaVu Sans Mono", monospace !important;
    font-size: 16px !important;
    font-size: 1.6rem !important;
}

abbr,
acronym {
    border-bottom: 1px dotted #a09a92 !important;
    cursor: help !important;
}

mark,
ins {
    background: #faf9f5 !important;
    text-decoration: none !important;
}

sup,
sub {
    font-size: 75% !important;
    height: 0 !important;
    line-height: 0 !important;
    position: relative !important;
    vertical-align: baseline !important;
}

sup {
    bottom: 1ex !important;
}

sub {
    top: 0.5ex !important;
}

small {
    font-size: 75% !important;
}

big {
    font-size: 125% !important;
}

strong em,
em strong,
b i,
i b,
b em,
em b,
strong i,
i strong,
.wp-caption strong {
    background: rgba(234, 233, 230, 0.5) !important;
    color: #787065 !important;
    font-size: 0.8em !important;
    font-style: normal !important;
    font-weight: bold !important;
    letter-spacing: 1px !important;
    padding: 2px 0 !important;
    text-transform: uppercase !important;
}

em code,
strong code,
i code,
b code {
    font-style: normal !important;
    font-weight: normal !important;
}

/* Prettier select colours for insane people like me who select text constantly
while reading */
::selection {
    background: #eae9e6 !important;
    color: #787065 !important;
}

::-moz-selection {
    background: #eae9e6 !important;
    color: #787065 !important;
}


/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
hr {
    background-color: #d9d6d0 !important;
    border: 0 !important;
    height: 1px !important;
    margin-bottom: 1.5em !important;
}

ul,
ol {
    margin: 0 0 1.5em !important;
    padding-left: 2em !important;
}

ul {
    list-style: disc outside !important;
}

ul ul {
    list-style: circle outside !important;
}

ol {
    list-style: decimal outside !important;
}

ol ol {
    list-style: lower-alpha outside !important;
}

li {
    line-height: 1.6 !important;
    margin: 0.5em 0 !important;
}

li > ul,
li > ol {
    margin-bottom: 0 !important;
    margin-left: 1em !important;
}

dt {
    font-weight: bold !important;
}

dd {
    margin: 0 1.5em 1.5em !important;
}

img {
    /* Make sure images are scaled correctly. */
    height: auto !important;
    /* Adhere to container width. */
    max-width: 100% !important;
}

figure {
    margin: 0 !important;
}

table {
    font-size: 0.85em !important;
    line-height: 1.4 !important;
    margin: 0.5em 0 1.5em !important;
    width: 100% !important;
}

tr:nth-of-type(odd) {
    background: rgba(255, 255, 255, 0.5) !important;
}

th,
td {
    border-bottom: 1px solid #d9d6d0 !important;
    padding: 0.8em 1em !important;
}

th {
    font-style: italic !important;
}

thead:nth-of-type(odd) tr {
    background: none !important;
}

thead th {
    border-width: 2px !important;
    color: #a09a92 !important;
    font-style: normal !important;
    font-weight: bold !important;
    padding: 0.4em 1em !important;
}

tr:hover {
    background: #a09a92 !important;
}


/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
    /* Corrects font size not being inherited in all browsers */
    font-size: 100% !important;
    /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
    margin: 0 !important;
    /* Improves appearance and consistency in all browsers */
    vertical-align: baseline !important;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    /* Improves usability and consistency of cursor style between image-type
    'input' and others */
    cursor: pointer !important;

    /* Corrects inability to style clickable 'input' types in iOS */
    -webkit-appearance: button !important;
}

input[type="checkbox"],
input[type="radio"] {
    /* Addresses box sizing set to content-box in IE8/9 */
    box-sizing: border-box !important;
    /* Addresses excess padding in IE8/9 */
    padding: 0 !important;
}

input[type="search"]::-webkit-search-decoration {
    /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
    -webkit-appearance: none !important;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none !important;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0 !important;
    padding: 0 !important;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    /* Corrects inner padding and border displayed oddly in FF3/4
    www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
    border: 0 !important;
    padding: 0 !important;
}

/* Inputs */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="url"],
textarea {
    -moz-transition: all 0.15s ease-in-out !important;
    -ms-transition: all 0.15s ease-in-out !important;
    -o-transition: all 0.15s ease-in-out !important;
    -webkit-transition: all 0.15s ease-in-out !important;
    background: rgba(255, 255, 255, 0.75) !important;
    border: 0 !important;
    border-bottom: 2px solid #a09a92 !important;
    color: #a09a92 !important;
    font-size: 14px !important;
    font-size: 1.4rem !important;
    line-height: 1.6 !important;
    padding: 1.2rem 1.4rem !important;
    width: 100% !important;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
textarea:focus {
    background: #fff !important;
    border: 1px solid #d9d6d0 !important;
    box-shadow: 0 0 5px rgba(255, 255, 255, 1) !important;
    color: #363431 !important;
    outline: none !important;
}

textarea {
    /* Removes default vertical scrollbar in IE6/7/8/9 */
    overflow: auto !important;
    /* Improves readability and alignment in all browsers */
    vertical-align: top !important;
    width: 100% !important;
}

/* Vendor prefixes for placeholder text */
::-webkit-input-placeholder {
    color: #d9d6d0 !important;
}

::-moz-placeholder {
    color: #d9d6d0 !important;
}

:-ms-input-placeholder {
    color: #d9d6d0 !important;
}

/* Submit buttons */
.form-submit,
.contact-submit,
form p {
    margin: 1em 0 !important;
    text-align: center !important;
}

input[type="submit"],
button {
    background: #a09a92 !important;
    border: 1px solid #eae9e6 !important;
    color: #eae9e6 !important;
    font-size: 12px !important;
    font-size: 1.2rem !important;
    letter-spacing: 1px !important;
    outline: 4px solid #a09a92 !important;
    padding: 0.7rem 1.4rem !important;
    position: relative !important;
    text-transform: uppercase !important;
}

input[type="submit"]:hover,
button:hover {
    background: #a09a92 !important;
    color: #faf9f5 !important;
    outline: 2px solid #a09a92 !important;
}

input[type="submit"]:active,
button:active {
    background: #363431 !important;
    outline: 5px solid #363431 !important;
}

/* Labels */
label {
    color: #a09a92 !important;
    font-size: 18px !important;
    font-size: 1.8rem !important;
    font-style: italic !important;
    text-align: left !important;
}

label span {
    font-size: 0.9em !important;
    padding-left: 2px !important;
}

/* Selected text */
input::selection {
    background: #eae9e6 !important;
}

input::-moz-selection {
    background: #eae9e6 !important;
}


/*--------------------------------------------------------------
5.0 Overall Site Structure
--------------------------------------------------------------*/
body {
    background: #f2f1ed !important;
}

#mainContent {
    margin: 0 auto !important;
    max-width: 780px !important;
    padding: 0 50px  !important;
    width: auto !important;
    /* position:relative !important; */
    /* left:15px !important; */
    background: #faf9f5 !important;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.05) !important;


}

.widget {
    margin: 4rem auto !important;
    max-width: 680px !important;
    padding: 0 !important;
    width: auto !important;
}


/*--------------------------------------------------------------
  5.1 Header
--------------------------------------------------------------*/
.nav-bar , #header{
    background: #fAf9f5 !important;
    border-bottom: 1px solid #d9d6d0 !important;
    position: relative !important;
    width: 100% !important;
}

.nav-bar:after , #header:after{
    clear: both !important;
    content: "" !important;
    display: block !important;
}

.site-branding h1,  #blogTitle h1{
    color: #a09a92 !important;
    font-family: "Playfair Display" !important;
    font-size: 36px !important;
    font-size: 3.6rem !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 1 !important;
    margin: 0 !important;
}

/* Style page title blocks */
.title-block {
    text-align: center !important;
}

.title-block h1 {
    font-style: normal !important;
    line-height: 1.2 !important;
    margin: 0 !important;
}

/* If header image is not present */
body:not(.libretto-has-header-image) .title-block {
    margin: 2rem auto !important;
    max-width: 680px !important;
}


/*--------------------------------------------------------------
  5.2 Footer
---------------------------------------------------------------*/

.site-footer .site-info {
    color: #a09a92 !important;
    font-size: 12px !important;
    font-size: 1.2rem !important;
    line-height: 1.6 !important;
}

.site-footer a {
    color: #787065 !important;
}

.site-footer .site-info p {
    margin-bottom: 0 !important;
}

.social ul {
    list-style-type: none !important;
    margin-bottom: 0 !important;
}

.social li {
    display: inline !important;
}

.social a:before {
    background: #d9d6d0 !important;
    border-radius: 2px !important;
    color: #faf9f5 !important;
    content: "y" !important;
    display: inline-block !important;
    font-family: libretto-icons !important;
    font-size: 22px !important;
    height: 30px !important;
    line-height: 26px !important;
    padding: 2px !important;
    text-align: center !important;
    text-shadow: none !important;
    transition: background-color 0.75s ease !important;
    width: 30px !important;
}

.social a:hover:before {
    background-color: #787065 !important;
}

/* Icons */
.social a[href*="dribbble.com"]:before {
  content: "D" !important;
}

.social a[href*="facebook.com"]:before {
  content: "F" !important;
}

.social a[href*="flickr.com"]:before {
  content: "K" !important;
}

.social a[href*="google.com"]:before {
  content: "G" !important;
}

.social a[href*="instagram.com"]:before {
  content: "I" !important;
}

.social a[href*="linkedin.com"]:before {
  content: "L" !important;
}

.social a[href*="pinterest.com"]:before {
  content: "N" !important;
}

.social a[href*="getpocket.com"]:before {
  content: "O" !important;
}

.social a[href*="reddit.com"]:before {
  content: "E" !important;
}

.social a[href*="stumbleupon.com"]:before {
  content: "S" !important;
}

.social a[href*="tumblr.com"]:before {
  content: "U" !important;
}

.social a[href*="twitter.com"]:before {
  content: "T" !important;
}

.social a[href*="vimeo.com"]:before {
  content: "V" !important;
}

.social a[href*="youtube.com"]:before {
  content: "Y" !important;
}

/* Colours */
.social a[href*="dribbble.com"]:hover:before {
  background: #ea4c89 !important;
}

.social a[href*="facebook.com"]:hover:before {
  background: #3b5998 !important;
}

.social a[href*="flickr.com"]:hover:before {
  background: #ff0084 !important;
}

.social a[href*="google.com"]:hover:before {
  background: #dd4b39 !important;
}

.social a[href*="instagram.com"]:hover:before {
  background: #517fa4 !important;
}

.social a[href*="linkedin.com"]:hover:before {
  background: #007bb6 !important;
}

.social a[href*="pinterest.com"]:hover:before {
  background: #cb2027 !important;
}

.social a[href*="getpocket.com"]:hover:before {
  background: #ef4056 !important;
}

.social a[href*="reddit.com"]:hover:before {
  background: #ff5700 !important;
}

.social a[href*="stumbleupon.com"]:hover:before {
  background: #eb4924 !important;
}

.social a[href*="tumblr.com"]:hover:before {
  background: #2c4762 !important;
}

.social a[href*="twitter.com"]:hover:before {
  background: #00aced !important;
}

.social a[href*="vimeo.com"]:hover:before {
  background: #aad450 !important;
}

.social a[href*="youtube.com"]:hover:before {
  background: #b00 !important;
}

/*--------------------------------------------------------------
6.0 Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
  6.1 Links
--------------------------------------------------------------*/
a {
    color: #932817 !important;
    text-decoration: none !important;
}

a:visited {
    color: #943526 !important;
}

a:hover,
a:focus,
a:active {
    color: #712012 !important;
}


/*--------------------------------------------------------------
  6.2 Menus
--------------------------------------------------------------*/
/* Main site navigation (most code is within media queries) */
.site-navigation, #navigator{
    border-top: none !important;
}

.site-navigation ul,  #navigator ul{
    list-style: none !important;
    margin: 0 !important;
    padding: 0 5px 0 0 !important;
}

.site-navigation .menu li,  #navigator .menu li{
    margin: 0 !important;
}

.site-navigation a, #navigator a{
    display: block !important;
    padding: 1.5rem 1.5rem !important;
    text-decoration: none !important;
}

/* In-page or in-post navigation */
.navigation-post {
    line-height: 1.6 !important;
}

.navigation-post .previous {
    text-align: left !important;
}

.navigation-post .next {
    text-align: right !important;
}

.navigation-post .previous a,
.navigation-post .next a {
    color: #a09a92 !important;
    display: block !important;
    font-style: italic !important;
    position: relative !important;
}

.previous .meta-nav,
.next .meta-nav {
    color: #787065 !important;
    display: block !important;
    font-family: Montserrat !important;
    font-size: 12px !important;
    font-size: 1.2rem !important;
    font-style: normal !important;
    letter-spacing: 1px !important;
    text-transform: uppercase !important;
}

.previous .meta-nav a,
.next .meta-nav a {
    color: #787065 !important;
    display: inline !important;
    font-style: normal !important;
}

.previous .meta-nav a:before,
.next .meta-nav a:after,
.previous a .meta-nav:before,
.next a .meta-nav:after {
    border: solid transparent 4px !important;
    content: "" !important;
    display: inline-block !important;
    height: 0 !important;
    margin: 0 0.5rem !important;
    top: 0.8em !important;
    width: 0 !important;
}

.previous .meta-nav a:before,
.previous a .meta-nav:before {
    border-left: 0 !important;
    border-right-color: #a09a92 !important;
}

.next .meta-nav a:after,
.next a .meta-nav:after {
    border-left-color: #a09a92 !important;
    border-right: 0 !important;
}

.tag-head {
    color: #787065 !important;
    display: block !important;
    font-family: Montserrat !important;
    font-size: 16px !important;
    font-size: 1.6rem !important;
    font-style: normal !important;
    letter-spacing: 1px !important;
    text-transform: uppercase !important;
    text-align: left !important;
    margin-top: 0.5rem !important;
    margin-bottom: 1rem !important;
}

.tag-head:before {
    content: "\E027\ " !important;
    display: inline-block !important;
    font-family: libretto-icons !important;
    font-size: 20px !important;
    font-size: 2.0rem !important;
    margin: 0 0.25rem !important;
    text-shadow: none !important;
    text-transform: none !important;
    vertical-align: -4px !important;
}

.tag-list {
    margin-bottom: -20px !important;
}

.tag-list a {
    display: inline-block !important;
    background: #faf9f5 !important;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.05) !important;
    padding: 0.5rem !important;
    font-size: 14px !important;
    color: #787065 !important;
    margin: 0.5rem 0.25rem !important;
}


/*--------------------------------------------------------------
7.0 Content
--------------------------------------------------------------*/

/*--------------------------------------------------------------
  7.1 Posts and pages
--------------------------------------------------------------*/

/* Post format icons, need title-block to work */
.post-format-icon-pin:before {
    content: "p" !important;
}

.post-format-icon-star:before {
    content: "y" !important;
}

.post-format-icon-lock:before {
    content: "w" !important;
}

.post-format-icon-search:before {
    content: "o" !important;
}

.title-block:before {
    background: #faf9f5 !important;
    border: 1px solid #d9d6d0 !important;
    border-radius: 50% !important;
    box-shadow: 0 0 0 4px #faf9f5 !important;
    color: #a09a92 !important;
    display: inline-block !important;
    font-family: libretto-icons !important;
    font-size: 21px !important;
    line-height: 21px !important;
    margin: 1rem auto 2rem !important;
    padding: 10px !important;
    text-shadow: none !important;
}

.title-block {
    border-bottom: 1px solid #d9d6d0 !important;
    margin-bottom: 4rem !important;
    padding-bottom: 2rem !important;
    text-align: center !important;
    word-wrap: break-word !important;
}

.entry-meta {
    color: #a09a92 !important;
    font-style: italic !important;
    line-height: 1.4 !important;
}

.entry-meta a {
    color: #787065 !important;
}

.title-block .entry-meta:before,
.title-block .entry-meta:after {
    color: #d9d6d0 !important;
    content: "~" !important;
    display: inline-block !important;
    font-family: libretto-icons !important;
    font-size: 24px !important;
    margin: 0 0.25rem !important;
    text-shadow: none !important;
    vertical-align: -6px !important;
}

.title-block .entry-meta:after {
    content: "`" !important;
    margin-left: -4px !important;
}

/* Drop cap and first line */
.format-standard .entry-content div:first-child > p:not(.no-emphasis):first-of-type:first-letter {
    color: #b7b1a9 !important;
    display: inline-block !important;
    float: left !important;
    font-family: "Playfair Display" !important;
    font-size: 70px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 40px !important;
    margin: 6px 10px 0 -5px !important;
}

.format-standard .entry-content div:first-child > p:not(.no-emphasis):first-of-type:first-line {
    color: #787065 !important;
    font-family: "Playfair Display SC" !important;
    font-size: 1em !important;
    font-style: normal !important; /* Cheat to preserve visual sanity */
    font-weight: bold !important;
    letter-spacing: 1px !important;
}

.format-standard .entry-content div:first-child > p:not(.no-emphasis):first-of-type::after {
    clear: both !important;
    content: "" !important;
    display: block !important;
}

.format-standard .entry-content div:first-child > p:not(.no-emphasis):first-of-type + p {
    clear: left !important;
}

.libretto-long-form {
    background: #faf9f5 !important;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.05) !important;
}

/* "Read more" link */
.more,
.more>a {
    color: #a09a92 !important;
    display: inline-block !important;
    font-family: "Playfair Display" !important;
    font-size: 21px !important;
    font-size: 2.1rem !important;
    font-style: italic !important;
    line-height: 1.4 !important;
    text-align: center !important;
    text-transform: lowercase !important;
    width: 100% !important;
}

.more>a:before,
.more>a:after {
    display: inline !important;
    font-size: 1.5em !important;
    font-style: normal !important;
    padding: 0 10px !important;
    vertical-align: -0.15em !important;
}

.more>a:before {
    content: "{" !important;
}

.more>a:after {
    content: "}" !important;
}

.more>a:hover {
    color: #712012 !important;
}

/* Different color for index titles */
article .title-block h1 a {
    color: #787065 !important;
}

/*--------------------------------------------------------------
8.0 Widgets
--------------------------------------------------------------*/

.footer-sidebar {
    background: #faf9f5 !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1) !important;
    margin: 2rem 0 2rem 0 !important;
    width: 100% !important;
}

.footer-sidebar .widget-block {
    font-size: 12px !important;
    font-size: 1.2rem !important;
    padding: 0rem 3rem !important;
}

.widget-title {
    border-bottom: 1px solid #d9d6d0 !important;
    font-size: 14px !important;
    font-size: 1.4rem !important;
    letter-spacing: 2px !important;
    margin-bottom: 1.5rem !important;
    padding-bottom: 1rem !important;
    text-align: center !important;
}

.widget-text {
    color: #a09a92 !important;
    font-size: 1.1em !important;
    font-style: italic !important;
    text-align: center !important;
}


/*--------------------------------------------------------------
11.0 Clearings
--------------------------------------------------------------*/

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
#mainContent:before,
#mainContent:after,
.site-footer:before,
.site-footer:after {
    content: "" !important;
    display: table !important;
}

.clear:after,
.entry-content:after,
#mainContent:after,
.site-footer:after {
    clear: both !important;
}


/*--------------------------------------------------------------
14 Media Queries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
  14.1 Phone-sized devices
--------------------------------------------------------------*/
@media only screen and (max-width: 640px) {

    /* Tweak font sizes and margins */
    body {
        font-size: 16px !important;
        font-size: 1.6rem !important;
    }

    blockquote {
        font-size: 24px !important;
        font-size: 2.4rem !important;
    }

    ul,
    ol {
        margin-left: 1em !important;
    }

    #mainContent {
        font-size: 16px !important;
        font-size: 1.6rem !important;
        margin: 0 !important;
        max-width: none !important;
        min-width: 320px !important;
        padding: 0 15px !important;
        /* position:relative !important; */
        /* left:15px !important; */

        background: #faf9f5 !important;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.05) !important;

    }

    .site-branding,  #blogTitle{
        /* display: none !important; */
    }

    /* Use a condensed mobile menu */
    .site-navigation,  #navigator{
        background: #26231e !important;
        width: 100% !important;
    }

    .site-navigation a, #navigator a{
        color: #cacabc !important;
    }

    .menu-toggle {
        background: #363431 !important;
        border-bottom: 2px solid #787065 !important;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1) !important;
        color: #eae9e6 !important;
        cursor: pointer !important;
        display: block !important;
        font-size: 21px !important;
        font-size: 2.1rem !important;
        line-height: 1.4 !important;
        margin: 0 !important;
        min-height: 5rem !important;
        padding: 1.5rem 1.5rem !important;
        position: relative !important;
        z-index: 50 !important;
    }

    /* Style menu items a bit differently */
    .site-navigation .menu li,  #navigator .menu li{
        border-top: 1px solid #787065 !important;
        display: block !important;
        text-align: left !important;
    }

    .title-block:before {
        display: none !important;
    }

    .title-block {
        margin-bottom: 2rem !important;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }

    .entry-meta {
        font-size: 14px !important;
        font-size: 1.4rem !important;
    }

    .title-block h1 {
        font-size: 28px !important;
        font-size: 2.8rem !important;
    }

    /* Long-form posts should be full-width, plus padding */
    .libretto-long-form {
        margin-left: -10px !important;
        padding: 10px !important;
        width: calc(100% + 20px) !important;
    }

    /* Footer is arranged in a stack */
    .site-footer .site-info,
    .social {
        padding: 0.75rem 0.5rem !important;
        text-align: center !important;
        width: 100% !important;
    }

    /* In-page navigation should be pretty simple */
    .navigation-post .previous,
    .navigation-post .next {
        padding: 1rem 0 !important;
        text-align: center !important;
        width: 100% !important;
    }

    .navigation-post .previous {
        border-bottom: 1px solid #d9d6d0 !important;
    }

    .navigation-post .previous,
    .navigation-post .next {
        text-align: center !important;
    }

    .tag-head {
        text-align: center !important;
        font-size: 14px !important;
        font-size: 1.4rem !important;
        margin-top: 1.5rem !important;
        margin-bottom: 0.5rem !important;
    }

    .tag-head:before {
        font-size: 18px !important;
        font-size: 1.8rem !important;
        vertical-align: -3px !important;
    }

    .tag-list {
        text-align: center !important;
        border-bottom: 1px solid #d9d6d0 !important;
        padding-bottom: 10px !important;
        margin-bottom: 0px !important;
    }

}


/*--------------------------------------------------------------
  14.2 Tablets and up
--------------------------------------------------------------*/
@media only screen and (min-width: 641px) {

    .site-branding ,#blogTitle {
        float: left !important;
        margin: 0.75rem 1rem 1rem 1.5rem !important;
    }

    /* Main menu is styled differently from mobile */
    .menu-toggle {
        display: none !important;
    }

    .site-navigation, #navigator {
        display: block !important;
        float: right !important;
        font-size: 16px !important;
        font-size: 1.6rem !important;
        margin: 0.75rem 2rem 0.5rem 1rem !important;
        position: relative !important;
    }

    .site-navigation .menu > li,  #navigator .menu>li{
        display: inline-block !important;
        line-height: 1 !important;
        margin: 0.25rem 0 !important;
        position: relative !important;
    }

    .site-navigation li a,  #navigator li a{
        border-bottom: 2px solid transparent !important;
        color: #787065 !important;
        padding: 1rem 1rem 0.8rem !important;
    }

    .site-navigation a:hover,  #navigator a:hover{
        border-bottom: 2px solid #999 !important;
        color: #363431 !important;
    }

    .title-block {
        margin: 10rem auto 1.5rem !important;
        display: block !important;
    }

    .libretto-long-form {
        margin-left: -1.5em !important;
        margin-right: -1.5em !important;
        max-width: calc(100% + 3em) !important;
        padding: 1.5em !important;
    }

    /* Use a bigger drop cap */
    .format-standard .entry-content div:first-child > p:not(.no-emphasis):first-of-type:first-letter {
        font-size: 121px !important;
        line-height: 70px !important;
        margin: 6px 10px 0 -5px !important;
    }

    /* Footer can stretch out a bit */
    .site-footer {
        padding: 0 2rem 1rem !important;
        width: 100% !important;
    }

    .site-footer .site-info {
        float: left !important;
    }

    .social {
        float: right !important;
        line-height: 1 !important;
    }

    /* In-page navigation can be arranged in floats and take up a bit more space */
    .navigation-post {
        border-top: 1px solid #d9d6d0 !important;
    }

    .navigation-post .previous,
    .navigation-post .next {
        float: left !important;
        margin: 2rem 0 !important;
        width: 50% !important;
    }

    .navigation-post .next {
        border-left: 1px solid #d9d6d0 !important;
        min-height: 4.8rem !important;
    }

}


/*--------------------------------------------------------------
  14.3 Desktops and big things
--------------------------------------------------------------*/
@media only screen and (min-width: 860px) {

    .site-branding,  #blogTitle{
        margin-left: 4rem !important;
    }

    .libretto-long-form {
        margin-left: -3em !important;
        margin-right: -3em !important;
        max-width: calc(100% + 6em) !important;
        padding: 3em 3em 1em !important;
    }

    /* Footer can be spaced out more, too */
    .site-footer {
        padding-left: 4rem !important;
        padding-right: 4rem !important;
    }

}



.highlight .hll { background-color: #ffffcc }
.highlight  { background: #f0f0f0; }
.highlight .c { color: #60a0b0; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #007020; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .ch { color: #60a0b0; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #007020 } /* Comment.Preproc */
.highlight .cpf { color: #60a0b0; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
.highlight .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #007020 } /* Keyword.Pseudo */
.highlight .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #902000 } /* Keyword.Type */
.highlight .m { color: #40a070 } /* Literal.Number */
.highlight .s { color: #4070a0 } /* Literal.String */
.highlight .na { color: #4070a0 } /* Name.Attribute */
.highlight .nb { color: #007020 } /* Name.Builtin */
.highlight .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.highlight .no { color: #60add5 } /* Name.Constant */
.highlight .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #d55537; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #007020 } /* Name.Exception */
.highlight .nf { color: #06287e } /* Name.Function */
.highlight .nl { color: #002070; font-weight: bold } /* Name.Label */
.highlight .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #062873; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #bb60d5 } /* Name.Variable */
.highlight .ow { color: #007020; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #40a070 } /* Literal.Number.Bin */
.highlight .mf { color: #40a070 } /* Literal.Number.Float */
.highlight .mh { color: #40a070 } /* Literal.Number.Hex */
.highlight .mi { color: #40a070 } /* Literal.Number.Integer */
.highlight .mo { color: #40a070 } /* Literal.Number.Oct */
.highlight .sa { color: #4070a0 } /* Literal.String.Affix */
.highlight .sb { color: #4070a0 } /* Literal.String.Backtick */
.highlight .sc { color: #4070a0 } /* Literal.String.Char */
.highlight .dl { color: #4070a0 } /* Literal.String.Delimiter */
.highlight .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #4070a0 } /* Literal.String.Double */
.highlight .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #4070a0 } /* Literal.String.Heredoc */
.highlight .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.highlight .sx { color: #c65d09 } /* Literal.String.Other */
.highlight .sr { color: #235388 } /* Literal.String.Regex */
.highlight .s1 { color: #4070a0 } /* Literal.String.Single */
.highlight .ss { color: #517918 } /* Literal.String.Symbol */
.highlight .bp { color: #007020 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #06287e } /* Name.Function.Magic */
.highlight .vc { color: #bb60d5 } /* Name.Variable.Class */
.highlight .vg { color: #bb60d5 } /* Name.Variable.Global */
.highlight .vi { color: #bb60d5 } /* Name.Variable.Instance */
.highlight .vm { color: #bb60d5 } /* Name.Variable.Magic */
.highlight .il { color: #40a070 } /* Literal.Number.Integer.Long */

.linenr {
    display:none !important;
}

.highlight.show-linenr .linenr {
    color: #c0bab2 !important;
    /* font-style:italic; */
    font-size:0.8em !important;
    display:inline !important;
}

.unselectable {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.numberCircle {
  border-radius: 40% !important;
  behavior: url(PIE.htc) !important;
  /* remove if you don't care about IE8 */
  /* width: 36px; */
  /* height: 36px; */
  padding: 0 0.3em !important;
  background: #712012 !important;
  /* background: #fff; */
  border: 1px solid #712012 !important;
  color: #e9e6e0 !important;
  text-align: center !important;
  font-size: 0.4em !important;

  position:relative !important;
  top:-0.3em !important;
}

.highlight .codeH {
    background-color:#c9c6c0 !important;
    width:100% !important;
    display:inline !important;
}
pre {
    background: #e9e6e0 !important;
}

.highlight.show-linenr pre{
    padding-left: 0.2em !important;
}
.highlight+.org-ol {
    list-style: none !important;
    padding-left:0 !important;
    /* background-color:red; */
    font-size:0.9em !important;
    color:#706a62 !important;

}
.highlight+.org-ol li {
    list-style: none !important;


}

.highlight+.org-ol strong{
  border-radius: 40% !important;
  behavior: url(PIE.htc) !important;
  /* remove if you don't care about IE8 */
  /* width: 36px; */
  /* height: 36px; */
  padding: 0 0.3em !important;
  background: #712012 !important;
  /* background: #fff; */
  border: 1px solid #712012 !important;
  color: #e9e6e0 !important;
  text-align: center !important;
  font-size: 0.4em !important;
}



/* adapt for cnblogs */
#sideBar {
    /* display:none; */
    max-width:240px !important;
    padding:10px !important;
    margin: 4rem auto !important;
    background: #faf9f5 !important;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.05) !important;
}

#home {
    width:100% !important;
    margin:0 0 !important;
}

#main {
    clear:none !important;
    margin: 0 auto !important;
    max-width: 1060px !important;
    min-width:unset !important;
    background: #f2f1ed !important;
}

/* sidebars blocks */
#sideBar .newsItem, #sideBar #blog-calendar, #sideBar #sidebar_postcategory, #sideBar #sidebar_search {
    display:none !important;
}

/* block below comment form */
#ad_t2, .c_ad_block{
    display:none !important;
}

div.commentform textarea.comment_textarea,  div.commentform input {
    border: 2px solid #f2f1ed !important;
    font-size: 1em !important;
    border-radius:5px;
    color:black !important;
    padding:2px 5px !important;
}


div.commentform input {
    width:unset !important;
}

.comment_btn {
    height: unset !important;
    background: #ebe7e1 !important;
}

.postTitle {
    /* font-style: normal !important; */
    /* font-size: 130% !important; */

    clear: both !important;
    line-height: 1.6 !important;

    color: #a09a92 !important;
    font-family: "Playfair Display", Georgia, serif !important;
    font-size: 160% !important;
    /* font-size: 4.4rem !important; */
    font-style: normal !important;
    margin: 1em 0 0.5em !important;
}

#navigator {
    /* background: #ebe7e1 !important; */
    /* border:none !important; */

}
#navigator li {
    /* margin: 0.5em 0.5em !important; */
}

#blogTitle h2{
    display:none !important;
}

#blogTitle h1 a, #blogTitle h2 {
    text-shadow:none !important;
    font-style:normal !important;
    margin-left:1em !important;
}

#navList a:link, #navList a:visited, #navList a:active {
    text-shadow:none !important;
}

#navList{
    margin: 0 !important;
}

#navigator {
    /* height:50px !important; */
}
.postCon {
    width:100% !important;
    word-break: keep-all !important;
}

.dayTitle {
    display:none !important;
}

#blogTitle{
    /* float:left !important; */
    /* margin: 0.75rem 1rem 1rem 1.5rem !important; */
    height:unset !important;
    clear:none !important;
}

#navigator{
    /* float:right !important; */
    /* margin: 0.75rem 1rem 0.5rem 1.0rem !important; */
    /* display:block !important; */
    /* position:relative !important; */
    /* border-top:none !important; */
    background:none !important;
    clear:none !important;


}

#navigator ul{
    /* position: relative !important; */
    /* top:-1.5em !important; */
    font-size: 1.1em !important;
}